@import "../../scss/lib/theme/vars";

.signup-content {
  background: $brand-primary;
  border: 2px solid $white;
  height: 80vh;

  h2 {
    text-align: center;
    color: $white;
    padding-top: 2vw;
  }
}
